.idea/
*.iml
bin
/repo
.*sw*
*.class
classes
agraph.jar
agraph-src.jar
agraph-java-client-test.jar
agraph*.tar.gz
DIST
/build.out
/doc
temp.*
tmp
target
JenaTutorialExamples.*.nt
JenaTutorialExamples.*.rdf
TutorialExamples.*.nt
TutorialExamples.*.rdf
phase-[0-6].ds
phase-[0-6].nmon
phase-[0-6].vm
